/* Begin Typography & Colors */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #d5d6d7;
	color: #333;
	text-align: center;
}

#page {
	background-color: white;
	border: 1px solid #959596;
	text-align: left;
}

#content {
	font-size: 1.2em
}

.widecolumn {
	line-height: 1.6em;
}

.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
}

h1.title {
	font-size: 4em;
	text-align: center;
}

.description {
	font-size: 1.2em;
	text-align: center;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em;
}

h1.title, h1 a, h1 a:hover, h1 a:visited, .description {
	text-decoration: none;
	color: white;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #333;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, cite {
	text-decoration: none;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
}

a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
}

a:hover {
	color: #147;
	text-decoration: underline;
}

table
{ 
	margin-left: auto;
	margin-right: auto;
}

table.sample {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
}
table.sample th {
	border-width: 1px;
	padding: 5px;
	border-style: outset;
	border-color: white;
}
table.sample td {
	border-width: 1px;
	padding: 5px;
	border-style: outset;
	border-color: white;
	text-align: left;
}

/* End Typography & Colors */

/* Begin Structure */
body {
	margin: 0;
	padding: 0;
}

#page {
	background-color: white;
	margin: 20px auto;
	padding: 0;
	width: 1000px;
	border: 1px solid #959596;
}

#header {
	padding: 0;
	margin: 0 auto;
	height: 200px;
	width: 100%;
	background-color: #73a0c5;
}

#headerimg {
	margin: 0;
	height: 200px;
	width: 100%;
}

.widecolumn {
	padding: 10px 0 20px 0;
	margin: 5px 0 0 150px;
	width: 680px;
}

.post {
	margin: 0 0 40px;
	text-align: justify;
}

#footer {
	padding: 0 0 0 1px;
	margin: 0 auto;
	width: 1000px;
	clear: both;
}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
}
/* End Structure */

/*	Begin Headers */
h1.title {
	padding-top: 70px;
	margin: 0;
}

.description {
	text-align: center;
}

h2 {
	margin: 30px 0 0;
}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

h3 {
	padding: 0;
	margin: 30px 0 0;
}

/* End Headers */

/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}
/* End Images */

/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
}

html>body .entry li {
	margin: 7px 0 8px 10px;
}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
}

/* End Entry Lists */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
}

acronym, abbr {
	border-bottom: 1px dashed #999;
}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
}

blockquote cite {
	margin: 5px 0 0;
	display: block;
}

.center {
	text-align: center;
}

hr {
	display: none;
}

a img {
	border: none;
}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
}
/* End Various Tags & Classes*/

